{% extends 'base.html.twig' %}

{% block body %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Użytkownicy</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Lista zarejestrowanych użytkowników
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>L.p.</th>
                            <th>Nazwa użytkownika</th>
                            <th>Imię</th>
                            <th>Nazwisko</th>
                            <th>Adres email</th>
                            <th>Akcje</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set i = 1 %}
                        {% for user in users %}
                            <tr>
                                <th scope="row">{{ i }}</th>
                                <td>{{ user.username }}</td>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <a href="{{ path('users_edit', {'id':  user.id }) }}" class="btn btn-primary btn-sm"><i class="fa fa-edit fa-fw"></i> Edytuj</a>
                                    <a href="{{ path('users_edit', {'id':  user.id }) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash fa-fw"></i> Usuń</a>
                                </td>
                            </tr>
                            {% set i = i + 1 %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    {% endblock %}
