{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block body %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Użytkownik: {{ users.firstname }} {{ users.lastname }}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Tryb edycji użytkownika
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>{{ 'profile.show.firstname'|trans }}</label>
                                    <input class="form-control" value="{{ users.firstname }}" disabled>
                                </div>
                                <div class="form-group">
                                    <label>{{ 'profile.show.lastname'|trans }}</label>
                                    <input class="form-control" value="{{ users.lastname }}" disabled>
                                </div>
                                <div class="form-group">
                                    <label>{{ 'profile.show.username'|trans }}</label>
                                    <input class="form-control" value="{{ users.username }}" disabled>
                                </div>
                                <div class="form-group">
                                    <label>{{ 'profile.show.email'|trans }}</label>
                                    <input class="form-control" value="{{ users.email }}" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Ostatnie logowanie</label>
                                    <input class="form-control" value="{{ users.lastlogin | date('Y-m-d H:i:s') }}" disabled>
                                </div>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                    <div class="panel-footer">
                        {{ form_start(delete_form) }}
                        <a href="{{ path('users_edit', {'id': users.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-edit fa-fw"></i> Edytuj</a>
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="fa fa-remove fa-fw"></i>Usuń
                        </button>
                        {{ form_end(delete_form) }}
                    </div>
                    <!-- /.panel-footer -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
{% endblock %}