{% extends 'base.html.twig' %}

{% block body %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Linie produkcyjne</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Lista dodanych linii produkcyjnych
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>Lp</th>
                            <th>Nazwa linii</th>
                            <th>Przyciski wezwań</th>
                            <th>Akcje</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set i = 1 %}
                        {% for line in lines %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>{{ line.lineName }}</td>

                                <td>
                                    {% for b in line.buttons %}
                                        <a href="{{ path('button_edit', {'id': b.state}) }}" class="btn btn-primary btn-outline">{{ b.button.buttonName() }}</a>
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="{{ path('line_edit', {'id':  line.id }) }}" class="btn btn-primary btn-sm"><i class="fa fa-edit fa-fw"></i> Edytuj</a>
                                    <a href="{{ path('line_edit', {'id':  line.id }) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash fa-fw"></i> Usuń</a>
                                </td>
                            </tr>
                            {% set i = i + 1 %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.panel-body -->
                <div class="panel-footer">
                    <a href="{{ path('line_new') }}" class="btn btn-success btn-sm"><i class="fa fa-plus fa-fw"></i>  Dodaj</a>
                </div>
                <!-- /.panel-footer -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    {% endblock %}
