{% extends 'base.html.twig' %}

{% block body %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Linia produkcyjna</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Tryb dodwania linii produkcyjnej
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                {{ form_start(form) }}
                                {{ form_row(form.lineName) }}

                                {{ form_row(form.buttonsToAdd) }}
                                {% if not form.buttonsToAdd.children %}
                                    Brak zdefiniowanych przycisków, aby to zrobić przejdź <a href="{{ path('button_new') }}" >tutaj</a>
                                {% endif %}

                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-save fa-fw"></i> Zapisz</button>
                    </div>
                    <!-- /.panel-footer -->
                    {{ form_end(form) }}
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
{% endblock %}