{% trans_default_domain 'FOSUserBundle' %}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Profil</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>{{ 'profile.show.firstname'|trans }}</label>
                                <input class="form-control" value="{{ user.firstname }}" disabled>
                            </div>
                            <div class="form-group">
                                <label>{{ 'profile.show.lastname'|trans }}</label>
                                <input class="form-control" value="{{ user.lastname }}" disabled>
                            </div>
                            <div class="form-group">
                                <label>{{ 'profile.show.username'|trans }}</label>
                                <input class="form-control" value="{{ user.username }}" disabled>
                            </div>
                            <div class="form-group">
                                <label>{{ 'profile.show.email'|trans }}</label>
                                <input class="form-control" value="{{ user.email }}" disabled>
                            </div>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
                <div class="panel-footer">
                    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary btn-sm"><i class="fa fa-edit fa-fw"></i> Edytuj</a>
                    <a href="{{ path('fos_user_change_password') }}" class="btn btn-danger btn-sm"><i class="fa fa-lock fa-fw"></i> Zmień hasło</a>
                </div>
                <!-- /.panel-footer -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
