{% extends 'panel/index.html.twig' %}

{% block body %}
    <h1>{{ 'titles.history_edit'|trans({}, 'history') }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="{{ 'actions.edit'|trans({}, 'history') }}" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('history_index') }}">{{ 'actions.back'|trans({}, 'history') }}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{{ 'actions.delete'|trans({}, 'history') }}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
