{% extends 'base.html.twig' %}

{% block body %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Historia</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    DataTables Advanced Tables
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>{{ 'table.id'|trans({}, 'history') }}</th>
                            <th>{{ 'table.line'|trans({}, 'history') }}</th>
                            <th>{{ 'table.button'|trans({}, 'history') }}</th>
                            <th>{{ 'table.start'|trans({}, 'history') }}</th>
                            <th>{{ 'table.end'|trans({}, 'history') }}</th>
                            <th>{{ 'table.duration'|trans({}, 'history') }}</th>
                            <th>{{ 'table.status'|trans({}, 'history') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for history in histories %}
                            <tr>
                                <th scope="row">{{ history.id }}</th>
                                <td>{{ history.lineName }}</td>
                                <td>{{ history.buttonName }}</td>
                                <td>{% if history.start %}{{ history.start|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>
                                    {% if history.end == null %}
                                        W trakcie
                                    {% else %}
                                        {% if history.end %}{{ history.end|date('Y-m-d H:i:s') }}{% endif %}
                                    {% endif %}
                                </td>
                                {% if history.status == 0 %}
                                    <td>
                                        W trakcie
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default disabled"><i class="fa fa-cogs" aria-hidden="true"></i></button>
                                        <button type="button" class="btn btn-primary disabled"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </td>
                                {% else %}
                                    {% if history.status == 1 %}
                                        {% if history.buttonName != 'sur' %}
                                            <td>{% if history.duration %}{{ history.duration|date('H:i:s') }}{% endif %}</td>
                                            <td></td>
                                        {% else %}
                                            <td>{% if history.duration %}{{ history.duration|date('H:i:s') }}{% endif %}</td>
                                            <td>
                                                <button type="button" class="btn btn-default disabled"><i class="fa fa-cogs" aria-hidden="true"></i></button>
                                                <button type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                            </td>
                                        {% endif %}
                                    {% elseif history.status == 2 %}
                                        <td>{% if history.duration %}{{ history.duration|date('H:i:s') }}{% endif %}</td>
                                        <td>
                                            <button type="button" class="btn btn-warning disabled"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                                            <a href="{{ path('history_show', { 'id': history.id }) }}" class="btn btn-info" role="button"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </td>
                                    {% elseif history.status == 3 %}
                                        <td>{% if history.duration %}{{ history.duration|date('H:i:s') }}{% endif %}</td>
                                        <td>
                                            <button type="button" class="btn btn-danger disabled"><i class="fa fa-remove" aria-hidden="true"></i></button>
                                            <a href="{{ path('history_show', { 'id': history.id }) }}" class="btn btn-info" role="button"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </td>
                                    {% elseif history.status == 4 %}
                                        <td>{% if history.duration %}{{ history.duration|date('H:i:s') }}{% endif %}</td>
                                        <td>
                                            <button type="button" class="btn btn-success disabled"><i class="fa fa-check" aria-hidden="true"></i></button>
                                            <a href="{{ path('history_show', { 'id': history.id }) }}" class="btn btn-info" role="button"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    {% endblock %}
