{% extends 'panel/index.html.twig' %}

{% block body %}
    <h1>{{ 'layout.history'|trans({}, 'history') }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ 'table.id'|trans({}, 'history') }}</th>
                <td>{{ history.id }}</td>
            </tr>
            <tr>
                <th>{{ 'table.line'|trans({}, 'history') }}</th>
                <td>{{ history.lineName }}</td>
            </tr>
            <tr>
                <th>{{ 'table.button'|trans({}, 'history') }}</th>
                <td>{{ history.buttonName }}</td>
            </tr>
            <tr>
                <th>{{ 'table.start'|trans({}, 'history') }}</th>
                <td>{% if history.start %}{{ history.start|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'table.end'|trans({}, 'history') }}</th>
                <td>{% if history.end %}{{ history.end|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'table.duration'|trans({}, 'history') }}</th>
                <td>{% if history.duration %}{{ history.duration|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('history_index') }}">{{ 'actions.back'|trans({}, 'history') }}</a>
        </li>
        <li>
            <a href="{{ path('history_edit', { 'id': history.id }) }}">{{ 'actions.edit'|trans({}, 'history') }}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{{ 'actions.delete'|trans({}, 'history') }}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
