{% extends 'base.html.twig' %}
{% block body %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Test wezwań</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            {% for line in lines %}
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title text-center">{{ line.lineName }}</h3>
                            {% for button in line.getButtons() %}
                                <a href="{{ line.lineName }}+{{ button.id }}" class="btn btn-primary btn-outline">{{ button.buttonName }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- /.col-sm-6 -->
        </div>
        <!-- /.row -->
    </div>
{% endblock %}
